body {
    background-color: rgb(25, 48, 47);
    padding: 0;
    background: url(../imgs/1704658.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-Mascotas{
  width: 320px;
  height: 420px;
  background: rgb(6, 6, 8);
  color: rgb(253, 252, 252);
  top: 60%;
  left: 50%;
  position:absolute;
  transform:  translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px 30px;
  }
  
  .login-Mascotas .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: static;
    justify-content: center;
    top: 50%;
    left: calc(50% - 50%px);
    margin: auto;
    display: block;
  
  }
  
  
  .login-Mascotas h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .login-Mascotas label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-Mascotas input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .login-Mascotas input[type="text"],
  .login-Mascotas input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-Mascotas input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: black;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-Mascotas a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }
  
  .login-Mascotas a:hover {
    color: black;
  }
    