html {
  font-size: 14px;
}  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------------------------*/

header{
  position: fixed;
  width: 100%;
  background-image: linear-gradient(90deg, white, pink, rgb(150, 1, 150));
  z-index: 1;
}

header .container{
  padding-right: 100px;
  padding-left: 100px;
  background-color: rgba(208, 208, 224, 0.527);
}

header .navbar-brand{
  font-size: 1.75em;
  justify-content: center;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, white, pink, rgb(150, 1, 150));
  margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

nav a{
  transition: all 0.5s ease;
  font-size: 1.25em;
}

ul{
  justify-content: right;
  transition: all 0.5s ease;
}

ul .navbar-nav{
  transition: 0.5s;
}

nav a:hover {
  background: #9335d145;
  border-radius: 8px;
  transform: scale(0.95);
  transition: all 0.5s ease;
}

button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet;
  transition: all 0.5s ease;
}

button:hover{
  transition: 0.4s;
  transform: scale(0.92);
  background: rgb(101, 33, 165);
  color: #fff;
}

.container{
  max-width: 1400px;
  margin: auto;
}

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("../imgs/perro-posudo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{
  color: white;
  font-weight: bold;
}

#hero button{
  font-size: 1.75em;
}

#hero2 .container{
  text-align: center;
  padding: 150px 12px;
  display: flex;
  justify-content: center;
}

#hero2 h2{
  font-weight: bold;
  text-align: center;
}

#hero2 .img-container{
  background-image: url("../imgs/edicion-perro.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  border-radius: 10px;
}

#hero2{
  transition: all 0.5s ease;
}

#hero2:hover {
  transition: 0.5s;
  transform: scale(0.98);
}

#hero2 .texto{
  width: 50%;
  text-align: initial;
  padding: 0px 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-titulo-hero2{
  color: blueviolet;
  text-shadow: 0 0 1px rgba(60, 4, 97, 0.411);
}

#nuestros-beneficios{
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#nuestros-beneficios .container{
  padding: 100px 0px;
}

#nuestros-beneficios h2{
  margin-top: 0;
  font-size: 3.2em;
  font-weight: bold;
}

#nuestros-beneficios p{
  display: none;
}

#nuestros-beneficios .carta{
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
  transition: all 0.5s ease;
}

#nuestros-beneficios .carta:hover{
  transform: scale(0.98);
}

.carta:first-child{
  background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("../imgs/perro-gorro.jpg");
}

.carta:nth-child(2){
  background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("../imgs/Pitbull.jpg");
}

.carta:nth-child(3){
  background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("../imgs/Imagen-Gato.jpg");
}


#caracteristicas .container{
  text-align: center;
  padding: 270px 12px;
}

#caracteristicas li{
  margin: 16px 0px;
  font-weight: bold;
  font-size: 1.5em;
  list-style: none;
}


footer{
  background-color: rgba(43, 33, 33, 0.315);
}
footer .container{
  text-align: left;
}

footer h2{
  text-align: center;
  color: rgb(66, 66, 66);
}

@media (min-width: 768px) {
  #nuestros-beneficios .carta{
    padding: 15px;
  }
  
  #nuestros-beneficios .beneficios{
    display: flex;
    justify-content: center;
  }
  
  #nuestros-beneficios p{
    display: block;
    margin-bottom: 30px;
  }
  
  #nuestros-beneficios h3{
    margin-top: 0;
  }

  #caracteristicas{
    background-image: url(../imgs/mascota.png);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-x: calc(100vw - 700px);
    transition: 0.5s;
  }

  #caracteristicas:hover{
    transform: scale(0.98);
  }

  #caracteristicas .container{
    text-align: initial;
  }

  #caracteristicas li{
    margin-left: 100px;
  }
}

@media(min-width: 1200px){
  #caracteristicas{
    background-position-x: calc(100vw - 800px);
  }
}