@page
@model MascotaFeliz.App.Frontend.Pages.LoginModel
@{
    int clientesId = Model.Cliente.Id;
}

<section id="hero">

<h2>Login</h2>
<form method="post" asp-route-clienteId = "Model.Cliente.Id">
    <input type="hidden" asp-for="Cliente.Id" />
    <div class="form-group">
        <label asp-for="Cliente.Correo"></label>
        <input asp-for="Cliente.Correo" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.Correo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cliente.Nombres"></label>
        <input asp-for="Cliente.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.Nombres"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
<br>
<a asp-page="../Index" class="btn-default">Regresar al Home</a>
</section>