@page
@model MascotaFeliz.App.Frontend.Pages.LoginModel
@{
    
}
@if (ViewData["MENSAJE"] != null)
{
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    @ViewData["MENSAJE"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<div class="card signup_v4 mb-30">
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"> <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link" id="register-tab" data-toggle="tab" href="Registro" role="tab" aria-controls="register" aria-selected="false">Registro</a> </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Login</h4>
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-12"> <label for="inputName">Email</label> <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Escribe tu direccion de correo" required=""> </div>
                        <div class="form-group col-md-12"> <label for="inputName">Contrase単a</label> <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Escribe tu contrase単a" required=""> </div>
                        <div class="form-group col-md-12">
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <a href="#" target="_blank">多Contrase単a olvidada?</a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-3"> <button class="btn btn-primary full-width" type="submit">Login</button> </div>
                </form>
            </div>

        </div>
    </div>
</div>