@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mascota Feliz </title>
</head>

<body>
    <section id="hero">
        <h1>Pide los mejores<br>Veterinarios</h1>
        <button>REGISTRATE YA!</button>
    </section>
    <section id="hero2">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-titulo-hero2"> Mascota Feliz!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus temporibus minus nostrum iure
                    pariatur eligendi vitae labore illum qui autem voluptatum asperiores magni facilis, molestias veniam
                    ipsam ut.</p>
            </div>
        </div>
    </section>


    <section id="nuestros-beneficios">
        <div class="container">
            <h2>Nuestros Planes</h2>
            <div class="beneficios">
                <div class="carta">
                    <h3>Basico</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum enim nulla doloremque itaque
                        aspernatur deleniti? Accusantium ex, consectetur sint praesentium ab obcaecati, repellendus nam
                        dolorem placeat fugit eligendi blanditiis iusto.</p>
                    <button>+ Info</button>
                </div>

                <div class="carta">
                    <h3>Gold</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum enim nulla doloremque itaque
                        aspernatur deleniti? Accusantium ex, consectetur sint praesentium ab obcaecati, repellendus nam
                        dolorem placeat fugit eligendi blanditiis iusto.</p>
                    <button>+ Info</button>
                </div>

                <div class="carta">
                    <h3>Platinum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum enim nulla doloremque itaque
                        aspernatur deleniti? Accusantium ex, consectetur sint praesentium ab obcaecati, repellendus nam
                        dolorem placeat fugit eligendi blanditiis iusto.</p>
                    <button>+ Info</button>
                </div>
            </div>
        </div>
    </section>


    <section id="caracteristicas">
        <div class="container">
            <li>✔ Domicilio</li>
            <li>✔ Veterinarios Verificados</li>
            <li>✔ Cualquier día</li>
        </div>
    </section>

    <footer>
        <div class="container">
            <h2>Contáctanos</h2>
            <li>123-345-789</li> <br>
            <li>Carrera 13D 100-23 Bogota D.C </li><br>
            <li>Lunes a Sábado de 7 AM a 5 PM</li><br>
        </div>
    </footer>


</body>

</html>